---
import type { WPMedia } from '../../components/blog/api/media';
import type { Post } from '../../components/blog/api/post';
import LinkToArticle from './LinkToArticle.astro';
import { Image } from '@astrojs/image/components';
import {
	FEATURED_WP_IMAGE_HEIGHT,
	FEATURED_WP_IMAGE_WIDTH,
} from '../../data/definitions';
import { clamp, lerp } from '../../helpers/helpers';

export type Props = {
	currentPost: Post;
	nextPost: Post | undefined;
	lastPost: Post | undefined;
	featuredMedia: WPMedia | undefined;
};

const { nextPost, lastPost, currentPost, featuredMedia } = Astro.props;
---

<div
	class='sticky top-6 mt-12 flex flex-col-reverse items-end space-y-3 md:mt-0 md:h-[100vh] md:flex-col'
>
	{nextPost !== undefined && <LinkToArticle post={nextPost} icon='Right' />}
	{
		nextPost === undefined && (
			<div class='rounded-xl bg-zinc-300 px-6 py-3 text-center text-zinc-500'>
				This is the latest post! 🥳
			</div>
		)
	}
	{lastPost !== undefined && <LinkToArticle post={lastPost} icon='Left' />}
	{
		lastPost === undefined && (
			<div class='rounded-xl bg-red-300 px-6 py-3 text-center text-white'>
				No more posts! 😢
			</div>
		)
	}
</div>

<div
	class={`md:sticky md:top-[70vh] md:mb-24 flex flex-grow flex-col justify-end text-right font-serif text-xl font-bold`}
>
	{
		featuredMedia && featuredMedia.source_url.length > 0 && (
			<>
				<div class='flex flex-col items-end justify-end pb-3'>
					<Image
						src={featuredMedia.source_url}
						alt={featuredMedia.alt_text}
						slot='image'
						width={FEATURED_WP_IMAGE_WIDTH * 0.2}
						height={FEATURED_WP_IMAGE_HEIGHT * 0.2}
						class='mt-3 md:mt-0'
					/>
				</div>
			</>
		)
	}
	<Fragment set:html={currentPost?.title.rendered ?? 'Untitled'} />
</div>
