---
import { LeftRoundArrow, RightRoundArrow } from 'iconoir-react';
import type { Post } from '../../components/blog/api/post';
import { SITE_BASE_URL } from '../../data/definitions';

export type Props = {
	post: Post;
	icon: 'Right' | 'Left' | 'None';
};
const { post, icon } = Astro.props;
---

<a
	class='block flex w-full justify-between space-x-2 text-right leading-tight text-blue-500 hover:text-blue-400'
	href={`${SITE_BASE_URL}articles/${post?.slug}`}
>
	<span
		>{icon === 'Right' && <RightRoundArrow className='inline !text-lg' />}
		{
			icon === 'Left' && <LeftRoundArrow className='inline  !text-lg' />
		}</span
	>
	<span><Fragment set:html={post?.title.rendered} /></span>
</a>
