---
import type { Post } from '../../components/blog/api/post';

export type Props = {
	post: Post;
};
const { post } = Astro.props;
---

<div class='text-right'>
	<a
		class='text-blue-500 hover:text-blue-400'
		href={`/articles/${post?.slug}`}
	>
		<Fragment set:html={post?.title.rendered} />
	</a>
</div>
