---
import WhoHero from './neil/WhoHero.astro';
import AnxietyTile from './tiles/AnxietyTile.astro';
import CodingTile from './tiles/CodingTile.astro';
import ComedianTile from './tiles/ComedianTile.astro';
import PhysicistTile from './tiles/PhysicistTile.astro';
import SpeakingTile from './tiles/SpeakingTile.astro';
import TwoTruthsTile from './tiles/TwoTruthsTile.astro';
import WhoTile from './tiles/WhoTile.astro';
import WriterTile from './tiles/WriterTile.astro';
---

<div class='container m-auto mt-12 grid gap-6'>
	<WhoHero />
	<div class='grid grid-flow-row grid-cols-3 gap-6'>
		<!-- 300 then 100 for start, end -->
		<WhoTile
			title='worrying'
			bgColor='bg-red-200'
			link='/anxiety'
			gradientStartHex='#fca5a5'
			gradientEndHex='#fee2e2'
		>
			<AnxietyTile />
		</WhoTile>
		<WhoTile
			title='writing'
			bgColor='bg-lime-200'
			link='/books'
			gradientStartHex='#bef264'
			gradientEndHex='#ecfccb'
		>
			<WriterTile />
		</WhoTile>
		<WhoTile
			title='speaking'
			bgColor='bg-emerald-200'
			link='/speaking'
			gradientStartHex='#6ee7b7'
			gradientEndHex='#d1fae5'
		>
			<SpeakingTile />
		</WhoTile>
		<WhoTile
			title='coding'
			bgColor='bg-black'
			link='/games'
			titleColor='text-white'
		>
			<CodingTile />
		</WhoTile>
		<WhoTile
			title='comedian-ing'
			bgColor='bg-teal-200'
			link='/comedy'
			gradientStartHex={'#5eead4'}
			gradientEndHex={'#ccfbf1'}
		>
			<ComedianTile />
		</WhoTile>
		<WhoTile
			title='physicist-ing'
			bgColor='bg-purple-200'
			gradientStartHex={'#d8b4fe'}
			gradientEndHex={'f3e8ff'}
		>
			<PhysicistTile />
		</WhoTile>
		<WhoTile
			title='telling two truths & a lie'
			bgColor='bg-amber-200'
			gradientStartHex={'#fcd34d'}
			gradientEndHex={'#fef3c7'}
		>
			<TwoTruthsTile />
		</WhoTile>
		<WhoTile
			title='TODO'
			bgColor='bg-white'
			gradientStartHex={'#fef9c3'}
			gradientEndHex={'#fefce8'}
		>
			<div class='font-serif'>1) Write TODO list</div>
		</WhoTile>
	</div>
</div>
