---
import { CurrentWorry } from './CurrentWorry';
import { Image } from '@astrojs/image/components';
import worryTimeGraph from '../../../assets/images/worry_time.png';
import { SITE_BASE_URL } from '../../../data/definitions';
import LinkButton from '../../shared/LinkButton.astro';
---

<div class='space-y-3 pb-6 md:space-y-6'>
	<CurrentWorry client:only='react' />

	<div>
		<Image
			src={worryTimeGraph}
			alt='A graph of worry over time'
			class='m-auto w-[50%] xl:w-full'
		/>
		<p class='text-center'>
			Neil lived with <span
				class='text-base font-bold text-red-700 xl:text-xl'
			>
				terrible anxiety</span
			>
			for years.<br /> But now he <span
				class='text-base font-bold text-blue-700 xl:text-xl'
				>worries less</span
			>.
		</p>
	</div>
	<p class='text-right'>
		<LinkButton
			text='discover how to deal with anxiety'
			url={`${SITE_BASE_URL}anxiety`}
		/>
	</p>
</div>
