---
import { CurrentWorry } from './CurrentWorry';
import { Image } from '@astrojs/image/components';
import worryTimeGraph from '../../../assets/images/worry_time.png';
---

<div class='space-y-6 pb-6'>
	<CurrentWorry />
	<div>
		<Image src={worryTimeGraph} alt='A graph of worry over time' />
		<p class='text-center'>
			Neil lived with <span class='text-xl font-bold text-red-700'>
				terrible anxiety</span
			>
			for years.<br /> But now he <span
				class='text-xl font-bold text-blue-700'>worries less</span
			>.
		</p>
	</div>
	<p class='text-right'>
		<a href='/anxiety'>
			<button
				class='rounded-full bg-transparent bg-green-200 py-2 px-4 font-bold text-slate-500 hover:!bg-green-500 group-hover:animate-bounce-once group-hover:bg-green-700 group-hover:text-white'
				>discover how to deal with anxiety</button
			>
		</a>
	</p>
</div>
