---
import { TED_TALK_VIEWS } from '../../../data/definitions';
import tedSpeak from '../../../assets/images/speaking/ted_speak.jpg';
import { Image } from '@astrojs/image/components';
import { LightBulbOn } from 'iconoir-react';

import LinkButton from '../../shared/LinkButton.astro';
---

<div class='space-y-1 pb-3 xl:space-y-3 xl:pb-6'>
	<p
		class='rounded bg-emerald-100 px-6 py-2 text-center group-hover:bg-transparent'
	>
		<LightBulbOn className='inline text-emerald-600' />
		More than <span class='text-base lg:text-lg 2xl:text-xl'
			>{TED_TALK_VIEWS.toLocaleString()} people</span
		>
		have watched Neil's
		<a
			href='https://bit.ly/custardTED'
			target='_blank'
			rel='noopener noreferrer'
			class="text-blue-500 hover:text-blue-700 underline"			
		>
			surprisingly good talk</a
		>
		about anxiety & custard
	</p>

	<div>
		<a
			href='https://bit.ly/custardTED'
			target='_blank'
			rel='noopener noreferrer'
		>
			<Image
				src={tedSpeak}
				alt='Neil Hughes, TEDx Leamington Spa'
				class='group-hover:scale-[1.05]'
			/>
		</a>
	</div>

	<p class='px-6 py-2 text-center'>
		Neil speaks entertainingly on many topics, from <span
			class='text-base font-bold text-blue-500 lg:text-lg 2xl:text-xl'
			>mental health</span
		> to <span
			class='text-base font-bold text-purple-500 lg:text-lg 2xl:text-xl'
			>building a satisfying career</span
		>, and at events of all sizes, both in-person and online.
	</p>

	<p class='text-right'>
		<LinkButton
			text='watch Neil talk about custard'
			url={`${import.meta.env.BASE_URL}speaking`}
		/>
	</p>
</div>
