---
import { TwoTruths } from './two_truths/two_truths';
---

<article class='pb-9 text-center'>
	<p class='mb-3 bg-red-100 py-2 italic'>
		Click the answers to reveal the truth!
	</p>
	<strong class='font-serif text-2xl font-bold text-blue-500'
		>Neil Hughes...</strong
	>
	<TwoTruths client:only='react' />
</article>
