---
import { Image } from 'astro:assets';
import jar from '../../../assets/images/sbl/jar_transparent.png';
import { TraitName } from './TraitName';
---

<div>
	<Image src={jar} alt='a magical jar' width={25} class='inline-block' />
	<TraitName client:idle />
</div>
