---
import { SidebarCollapse } from 'iconoir-react';
import AnxietyResources from '../components/anxiety/AnxietyResources.astro';
import AnxietyStory from '../components/anxiety/AnxietyStory.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import LayoutPageWithSidebar from '../layouts/Layout_Page_With_Sidebar.astro';
---

<BaseLayout title='Anxiety Resources - by Neil Hughes - walking on custard'>
	<LayoutPageWithSidebar>
		<div slot='sidebar'>
			<AnxietyResources />
		</div>
		<AnxietyStory />
	</LayoutPageWithSidebar>
</BaseLayout>
