---
import WhoHome from '../components/who/WhoHome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='The online home of Neil Hughes - enhughesiasm'>
	<div class='w-full bg-slate-700 text-red-700 P-6 text-center mt-6'>
		TODO: LATEST BLOG ARTICLES CARDS HERE
	</div>
	<WhoHome />
</Layout>
