---
import { SEO } from "astro-seo";
import BaseLayout from "../layouts/BaseLayout.astro";
import LayoutPage from "../layouts/Layout_Page.astro";
import { Timer } from "iconoir-react";

---


<BaseLayout>
	<Fragment slot='seo'>
		<SEO title={'The online home of Neil Hughes - Walking on Custard'} />
	</Fragment>
	<LayoutPage >
		<div class="prose">
		<h2 	transition:name="page-title" class="rounded-xl text-center font-serif bg-yellow-200 text-lg py-3 flex-row justify-center items-center flex gap-x-3">
			<Timer className="text-3xl"/><div class="text-4xl">NOW</div>
		</h2>
		<h2
	
			class='rounded-xl py-3 text-center font-serif text-lg font-bold xl:text-3xl'
		>			
			Neil is currently...
		</h2>
		<ul class="mt-6 gap-y-3 list-none">						
			<li>... getting back into writing music.</li>
			<li>... (slowly) writing his third book.</li>
			<li>... getting fit (or less unfit, anyway).</li>			
			<li>... speaking about mental health whenever invited.</li>			
		</ul>
		<div class="text-right">
			<a href="/" class="mt-6 rounded-xl bg-blue-500 text-white px-3 py-2 hover:bg-blue-700 no-underline">Find out more...</a>
		</div>
		<div class="text-gray-400 text-right mt-12"
	>
			(Last Updated: Oct 2025)
		</div>
	</div>
	</LayoutPage>
</Base>
