---
import BaseLayout from '../layouts/BaseLayout.astro';
import LayoutPage from '../layouts/Layout_Page.astro';
import { Image } from 'astro:assets';
import yayImg from '../assets/images/mailing-list-yay.png';
import { SEO } from 'astro-seo';
---

<BaseLayout>
	<Fragment slot='seo'>
		<SEO title={'Email Signup Confirmed - Walking on Custard'} />
	</Fragment>
	<LayoutPage>
		<div class='space-y-3 md:space-y-6'>
			<div
				class='rounded bg-green-500 py-3 text-center font-serif text-2xl font-bold text-white'
			>
				Welcome to the Occasional Email Experience!
			</div>
			<p class='mx-12 rounded-xl bg-amber-500 py-3 text-center'>
				I've sent you an email with a <strong
					>couple of free gifts</strong
				> and a <strong>quick question</strong>.
			</p>

			<div class='flex flex-col items-center justify-center'>
				<Image src={yayImg} alt='Hooray!' />
				<span class='text-center text-xs italic'
					>This joy is now yours</span
				>
			</div>
		</div>
	</LayoutPage>
</BaseLayout>
