---
import { Image } from '@astrojs/image/components';
import neilHeadshot from '../../../assets/images/neil_hughes_headshot_al.jpg';
import neilStage from '../../../assets/images/neil_hughes_stage.jpg';
---

<div class='flex flex-row items-center justify-center rounded pr-0 font-serif'>
	<Image
		class='rounded-xl hover:animate-spin'
		src={neilHeadshot}
		alt='Neil Hughes'
		height={150}
	/>
	<div class='flex-grow text-center text-3xl text-teal-500'>
		<h2>
			<span class='font-bold'>Neil Hughes</span> is currently a...
		</h2>
	</div>
	<!-- <Image class='rounded-xl' src={neilStage} alt='Neil Hughes' height={100} /> -->
</div>
