---
import { Image } from 'astro:assets';
import neilHeadshot from '../../../assets/images/neil_hughes_headshot_al.jpg';
---

<div transition:name="page-title" class='flex flex-row items-center justify-center rounded pr-0 font-serif'>
	<Image
		class='w-[25%] rounded-l-xl hover:animate-spin md:w-[20%] lg:w-[15%] xl:w-[10%]'
		src={neilHeadshot}
		alt='Neil Hughes'
	/>
	<div
		class='inline-flex h-full flex-grow items-center justify-center rounded-r-xl bg-violet-100 text-center text-lg xl:text-3xl'
	>
		<h2>
			<span class='text-xl font-bold xl:text-4xl'>Neil Hughes</span> is currently...
		</h2>
	</div>
</div>
