---
import { SendMail } from 'iconoir-react';
import { ContactFormGate } from './contact_form/contact_form_gate';
import { RECAPTCHA_SITE_KEY } from '../../data/definitions';
---

<h1 transition:name="page-title" class='bg-blue-200 py-3 text-center font-serif text-3xl font-bold'>
	<SendMail className='inline' /> Get in contact
</h1>

<div class='space-y-3 py-6 text-center md:space-y-6'>
	<p>
		<span class='font-bold text-green-500'>Email is welcome!</span> I read every
		email and reply to as many as I can.
	</p>
	<p>
		Solve this little anti-bot puzzle to send an email directly to: <em class='font-serif text-blue-500'>
			neil <strong>at</strong> walkingoncustard{' '}
			<strong>dot</strong> com
		</em>
	</p>
</div>

<!-- <ContactFormGate client:load />

<script is:raw
	src={`https://www.google.com/recaptcha/api.js?render=${RECAPTCHA_SITE_KEY}`}
></script> -->
