---
import Nav from '../nav/Nav.astro';
import { RandomSubtitle } from './random_subtitle';
---

<header
	class='flex flex-col bg-zinc-950 px-2 font-serif text-white md:flex-row lg:px-6'
>
	<div class='py-3'>
		<h1
			class='text-md py-3 text-center text-yellow-400 hover:font-bold hover:text-yellow-300 md:text-lg lg:text-2xl'
		>
			<a href={`${import.meta.env.BASE_URL}`}>walking on custard</a>
		</h1>
		<div class='hidden 2xl:block'>
			<div
				class='mx-auto w-1/2 text-center text-xs text-white md:text-sm 2xl:w-3/4'
			>
				<RandomSubtitle client:load />
			</div>
			<div class='hidden text-xs text-zinc-400 md:text-sm'>
				[ɛn`hyuz iˌæz əm]
			</div>
			<div class='hidden space-x-3'>
				<em class='text-xs'>(noun)</em><span
					>the feeling of being Neil Hughes</span
				>
			</div>
		</div>
	</div>
	<Nav />
</header>
