---
import Nav from '../nav/Nav.astro';
---

<header class='font-serif bg-zinc-800 text-white flex px-6'>
	<div class='py-3'>
		<h1 class='text-2xl text-yellow-400'><a href='/'>en-Hughes-iasm</a></h1>
		<div class='text-sm text-zinc-400'>[ɛn`hyuz iˌæz əm]</div>
		<div class='space-x-3'>
			<em class='text-xs'>(noun)</em><span
				>How it feels to be Neil Hughes</span
			>
		</div>
	</div>
	<Nav />
</header>
