---
import { QuoteMessage } from 'iconoir-react';

export type QuoteData = {
	quote: string[];
	cite: { name: string; link?: string };
};

export type Props = QuoteData & {
	className?: string;
};

const { quote, cite, className } = Astro.props;
---

<div
	class={`inline-flex w-full items-center justify-center text-base ${className}`}
>
	<blockquote class='block self-center rounded bg-blue-100 px-12 pt-5 pb-3'>
		<QuoteMessage
			className='inline float-left text-3xl text-blue-500 mr-4'
		/>
		<div>
			{
				quote.map((q, i) => (
					<span
						class={`${quote.length > 1 ? 'first:font-bold' : ''}${
							i > 0 ? 'block' : ''
						}`}>
						{q}
					</span>
				))
			}
		</div>
		<cite class='mt-3 block text-right'
			>{
				cite.link ? (
					<a
						class='text-blue-900 hover:text-blue-600'
						target='_blank'
						rel='noopener noreferrer'
						href={cite.link}>
						{cite.name}
					</a>
				) : (
					cite.name
				)
			}</cite
		>
	</blockquote>
</div>
