---
import type { PostV2 } from '../../components/blog/api/post';
import LinkToArticle from './LinkToArticle.astro';

export interface Props {
	nextPost: PostV2 | undefined;
	lastPost: PostV2 | undefined;
	className?: string;
}

const { nextPost, lastPost, className } = Astro.props;
---

<div class={`${className} space-y-3 font-normal`}>
	{nextPost !== undefined && <LinkToArticle post={nextPost} icon='Right' />}
	{
		nextPost === undefined && (
			<div class='rounded-xl bg-zinc-300 px-6 py-3 text-center text-zinc-500'>
				This is the latest post! 🥳
			</div>
		)
	}
	{lastPost !== undefined && <LinkToArticle post={lastPost} icon='Left' />}
	{
		lastPost === undefined && (
			<div class='rounded-xl bg-red-300 px-6 py-3 text-center text-white'>
				No more posts! 😢
			</div>
		)
	}
</div>
