---
import { getArticles } from './api/fetch_articles';
import ArticleCard from './ArticleCard.astro';
import RecentArticleCard from './RecentArticleCard.astro';

const posts = (await getArticles()).slice(0, 6);
---

<div
	class='mx-auto mt-6 flex w-4/5 flex-row items-center space-x-12 text-center'
>
	<h3 class='text-6xl'>🗣️</h3>
	{
		posts.map((post) => (
			<RecentArticleCard post={{ ...post, categories: [] }} />
		))
	}
</div>
