---
import Footer from '../components/footer/Footer.astro';
import Header from '../components/header/Header.astro';
import BaseHTML from './BaseHTML.astro';
---

<BaseHTML>
	<Fragment slot='seo'>
		<slot name='seo' />
	</Fragment>
	<Header />
	<main class='flex-grow'><slot /></main>
	<Footer />
</BaseHTML>
