---
import type { BookPage } from '../components/books/books';
import AlsoByNeil from '../components/books/shared/AlsoBy/AlsoByNeil.astro';

export type Props = BookPage;

const { key, imageUrl, link, title } = Astro.props;
---

<div class='m-auto mt-12 flex w-1/2 space-x-6'>
	<div>
		<slot />
	</div>
	<AlsoByNeil exclude={key} />
</div>
