<div
	class='m-auto mt-3 flex h-full flex-col-reverse md:mt-12 md:flex-row-reverse md:space-x-12 lg:w-2/3 xl:w-3/5 2xl:w-1/2'
>
	<div
		class='border-l-zinc-200 md:ml-9 md:w-1/4 md:border-l-2 md:px-3 md:pl-9 xl:w-2/3 2xl:w-3/4'
	>
		<slot name='sidebar' />
	</div>
	<div class='flex-grow px-12 lg:px-0'><slot /></div>
</div>
