---
import {
	OneFingerSelectHandGesture,
	OnePointCircle,
	YouTube,
} from 'iconoir-react';
---

<div class='px-3'>
	<div class='bg-red-200 py-1 px-3'>Feel anxious? Start here!</div>
	<div
		class='my-3 flex flex-row items-center px-6 text-center hover:font-bold hover:text-red-700'
	>
		<a href='http://bit.ly/custardTED' target='_blank' rel='noopener'
			><YouTube className='inline text-red-500' /> Click here to watch a funny
			talk about anxiety.</a
		>
	</div>
	<div class='bg-red-100 py-1 px-3'>Next check out these articles:</div>
	COME BACK TO ONCE ARTICLE CARDS MADE https://www.walkingoncustard.com/three-causes-anxiety/
	https://www.walkingoncustard.com/untying-the-knot-of-anxiety-one-strand-at-a-time/
	https://www.walkingoncustard.com/im-anxious-what-do-i-do-now/ https://www.walkingoncustard.com/repetitive-anxiety-tally-system/
	https://www.walkingoncustard.com/might-not-matter-why-anxious/ https://www.walkingoncustard.com/you-might-as-well-do-the-thing-how-to-make-decisions-while-anxious/
	https://www.walkingoncustard.com/self-esteem-self-confidence/ https://www.walkingoncustard.com/cant-not-things-can/
	https://www.walkingoncustard.com/plan-ruminate-worry-poke-prod-fumble-stop-overanalysing-life/
	https://www.walkingoncustard.com/resonance/ https://www.walkingoncustard.com/is-it-too-late-for-me/
	https://www.walkingoncustard.com/how-i-accidentally-had-an-endoscopy/ https://www.walkingoncustard.com/same-problems-over/
	https://www.walkingoncustard.com/my-life-is-not-worth-living/
</div>
