---
import { Image } from '@astrojs/image/components';
import { Archery, YouTube } from 'iconoir-react';

import { YouTube as YouTubeEmbed } from '@astro-community/astro-embed-youtube';
import wocCover from '../../assets/images/wocCover.jpg';
---

<div class='space-y-3 md:space-y-6'>
	<div class='font-serif text-3xl'>
		I experienced <span class='text-4xl font-bold text-red-700'
			>anxiety</span
		> for most of my life...
	</div>
	<div class='text-right text-xl'>
		... well... <span class='text-red-700'>not <em>constantly</em></span>.
		Occasionally I was asleep, or watching the Vicar of Dibley.
	</div>
	<hr />

	<Image
		src={'https://images.unsplash.com/photo-1534330207526-8e81f10ec6fc'}
		alt='Anxiety'
		class='float-left mr-4 w-1/3'
		width={1470}
		height={980}
	/>

	<div
		class='first-letter:float-left first-letter:inline-block first-letter:pr-2 first-letter:text-7xl'
	>
		Worrying was always what I did best. But eventually my worry habit
		spiralled out of control. After years of background anxiety that would <span
			class='text-lg font-bold'>spike</span
		> and <span class='text-sm text-zinc-700'>fade</span>, <span
			class='text-lg font-bold'>spike</span
		> and <span class='text-md text-zinc-800'>fade</span>, <span
			class='text-lg font-bold'>spike</span
		> and <span class='text-sm text-zinc-700'>fade</span>, one day my
		anxiety <span class='text-xl font-bold text-red-700'>peaked</span> and never
		went away.
	</div>
	<div>
		I spent months living with near-constant fear. Each night I lay awake,
		afraid of how I would feel the next day. There seemed to be no escape
		from this cycle. I feared the only way out would be something drastic.
		(Thinking about this possibility didn't help <em>at all</em>.)
	</div>
	<div>
		Naturally, I didn't actually <em>tell anyone</em> about any of this. That
		would be silly 🙃
	</div>
	<div>
		Finally, I couldn't tolerate it any longer. <span class='font-bold'
			>My coping strategy of "do nothing and hope it all goes away" was
			clearly not working</span
		>. I decided to figure out what was happening... and maybe even do
		something about it.
	</div>
	<div class='p-3 text-center'>
		<div class='pt-3 text-xl font-bold'>
			<YouTube className='inline text-red-700 text-4xl' /> Here's me telling
			the story of what I discovered:
		</div>
		<div class='pb-6 lg:pl-8 2xl:pl-16'>
			<YouTubeEmbed id={'bM06o26PCDQ'} />
		</div>
	</div>
	<div class='space-y-6 pt-3'>
		<Image
			src={'https://images.unsplash.com/photo-1528183429752-a97d0bf99b5a'}
			alt='Anxiety'
			class='float-right ml-4 w-1/3'
			width={1470}
			height={980}
		/>
		<span class='font-serif text-xl'
			>Nowadays I don't fear my anxiety anymore.</span
		> And I use my experiences to help others who may be going through the same
		thing.

		<a
			class='hidden md:block'
			href={`${import.meta.env.BASE_URL}books/walking-on-custard`}
		>
			<Image
				src={wocCover}
				alt='Walking on Custard - Book Cover'
				class='float-left w-1/4 rounded pr-4'
			/></a
		>
		<div class='space-y-3 md:space-y-6'>
			<div>
				Eventually, I wrote down everything I'd learned about my
				anxiety, and this turned into <a
					href={`${import.meta.env.BASE_URL}books/walking-on-custard`}
					class='teimport.meta.env.BASE_URLover:text-blue-400'
					><strong>Walking on Custard & the Meaning of Life</strong
					></a
				>—a funny guide to life for anxious humans.
			</div>
			<div>
				<em>Walking on Custard</em> is an unusual book, but I wish I could
				have read it while I was struggling the most. It mixes personal stories,
				helpful advice gleaned from experts, and tiny tales about wizards
				and aliens. (Along with plenty of embarrassing stories about me,
				too.)
			</div>
		</div>
	</div>
	<div
		class='relative top-6 clear-left space-y-3 bg-zinc-200 px-6 py-6 md:space-y-6'
	>
		<p>
			<Archery className='inline text-red-500' />
			I'm available to give funny & helpful talks about anxiety—online and
			in person.
		</p>
		<div class='text-right'>
			<a href={`${import.meta.env.BASE_URL}speaking`}>
				<button
					class='rounded bg-red-500 px-4 py-2 !text-white hover:bg-red-400'
				>
					need an entertaining speaker on mental health?</button
				>
			</a>
		</div>
	</div>
</div>
