---
interface Props {
	text: string;
	link: string;
}

import { Pacman } from 'iconoir-react';
import { SITE_BASE_URL } from '../../data/definitions';

const { link, text } = Astro.props;

const { url } = Astro;

const isActive =
	(link === SITE_BASE_URL && url.pathname === SITE_BASE_URL) ||
	(link !== SITE_BASE_URL && url.pathname.startsWith(link));
---

<li
	class={`group relative cursor-pointer h-full flex items-center justify-center hover:bg-gradient-to-tr hover:from-zinc-800 hover:to-zinc-500 hover:text-yellow-400  hover:border-yellow-400 hover:border-b-8
	${isActive ? 'border-b-4 xl:border-b-8 pt-2 border-rose-500' : ''}`}
>
	<a
		class='flex h-full w-full flex-grow items-center space-x-1 px-2 text-sm group-hover:animate-text-bounce-once lg:space-x-3 lg:px-6 lg:text-base xl:text-lg'
		href={link}
	>
		<span class='hidden xl:inline'>
			<span
				class={`group-hover:hidden ${
					isActive ? 'text-yellow-500' : ''
				}`}><slot name='icon' /></span
			>
			<Pacman className='text-green-500 group-hover:inline hidden' />
		</span>
		<span class={`${isActive ? 'text-emerald-300' : ''}`}>{text}</span></a
	>
	<ul
		class='absolute top-[100%] hidden h-auto border-t-8 border-t-yellow-400 group-hover:block'
	>
		<slot name='dropdown-items' />
	</ul>
</li>
