---
interface Props {
	text: string;
	link: string;
}

import { Pacman } from 'iconoir-react';

const { link, text } = Astro.props;
---

<li
	class='group h-full flex items-center justify-center hover:bg-gradient-to-tr hover:from-zinc-800 hover:to-zinc-500 hover:text-yellow-400 hover:animate-bounce-once hover:border-yellow-400 hover:border-b-8'
>
	<a
		class='w-full h-full px-6 flex items-center space-x-3 flex-grow group-hover:animate-text-bounce-once'
		href={link}
	>
		<span>
			<span class='group-hover:hidden'><slot name='icon' /></span>
			<Pacman className='text-green-500 group-hover:inline hidden' />
		</span>

		<span>{text}</span></a
	>
</li>
