---
interface Props {
	text: string;
	link: string;
}

import { Pacman } from 'iconoir-react';
import { SITE_BASE_URL } from '../../data/definitions';

const { link, text } = Astro.props;

const { url } = Astro;

const isActive =
	(link === SITE_BASE_URL && url.pathname === SITE_BASE_URL) ||
	(link !== SITE_BASE_URL && url.pathname.startsWith(link));
---

<li
	class={`group relative cursor-pointer h-full flex items-center justify-center hover:bg-gradient-to-tr hover:from-zinc-800 hover:to-zinc-500 hover:text-yellow-400 hover:animate-bounce-once hover:border-yellow-400 hover:border-b-8
	${isActive ? 'border-b-4 lg:border-b-8 pt-2 border-rose-500' : ''}`}
>
	<a
		class='flex h-full w-full flex-grow items-center space-x-1 px-2 text-xs group-hover:animate-text-bounce-once lg:space-x-3 lg:px-6 lg:text-lg'
		href={link}
	>
		<span class=''>
			<span
				class={`group-hover:hidden ${
					isActive ? 'text-yellow-500' : ''
				}`}><slot name='icon' /></span
			>
			<Pacman className='text-green-500 group-hover:inline hidden' />
		</span>
		<span class={`${isActive ? 'text-emerald-300' : ''}`}>{text}</span></a
	>
	<div class='absolute top-16 hidden h-auto group-hover:block'>
		<ul>
			<slot name='dropdown-items' />
		</ul>
	</div>
</li>
